    
    /**
    */
    .navbar-collapse {
        background: linear-gradient(180deg, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);
        box-shadow: 0px 206px 82px rgba(0, 0, 0, 0.01), 0px 116px 69px rgba(0, 0, 0, 0.05), 0px 51px 51px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1);
    }

    body{
        font-family: 'Glancyr';
        font-style: normal;
        font-weight: 250;
        font-size: 20px;
        line-height: 26px;
        color: white;
        background-image: url(../img/back.jpg);
        background-size: cover;
        background-repeat: repeat;
    }

    h2{
        font-size: 40px;
    }

    h3{
        color: #EA0026;
        font-weight: 100;
    }

    h4{
        /* ¿Quieres saber más de nosotros? */
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 64px;
        color: #FFFFFF;
        text-shadow: 0px 128px 51px rgba(0, 0, 0, 0.02), 0px 72px 43px rgba(0, 0, 0, 0.08), 0px 32px 32px rgba(0, 0, 0, 0.13), 0px 8px 18px rgba(0, 0, 0, 0.15);

    }

    h5{
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .col{
        padding-right: 0px;
    }

    .bg-dark{
        background-color: black!important;
    }

    /*
    sobreescritura de estilos generales
    **/

    .container-fluid{
        padding-left: 0px;
        /*padding-right: 0px;*/
    }

    /**
    menu
    */
    .bg-nav{
        background: linear-gradient(90deg, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);
        box-shadow: 0px 206px 82px rgba(0, 0, 0, 0.01), 0px 116px 69px rgba(0, 0, 0, 0.05), 0px 51px 51px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1);
    }

    


    /**
SECCIONES
    */
    .materiales{
        position: relative;
        background: linear-gradient(270deg, #EA0026 0%, #000000 66.44%);
        border-radius: 20px;
        
        p{
            font-size: 18px;
            font-weight: 100;
            padding: 60px;
            color: #fff;
            margin-bottom: 0px;
        }

        img{
            position: absolute; 
            bottom: 0px; 
            right: 100px; 
            margin-top: -50px;
        }
        
    }


    .donde-encontrarnos{
        h2{
            color: #000000;
        }
        p{
            font-weight: 100;
            font-size: 18px;
            line-height: 29px;
            color: #000000;
        }
    }

    .quienes-somos{
        p{
            font-weight: 100;
            font-size: 18px;
            line-height: 30px;
            color: #FFFFFF;
            text-shadow: 0px 50px 20px rgba(0, 0, 0, 0.01), 0px 28px 17px rgba(0, 0, 0, 0.05), 0px 13px 13px rgba(0, 0, 0, 0.09), 0px 3px 7px rgba(0, 0, 0, 0.1);
        }

        img{
            /*margin-top: -150px;*/
            /*margin-bottom: -100px;*/
        }

       
    }
    .nuestra-mision{
        h2{
            text-align: right;
        }
        p{
            text-align: right;
        }
        
    }
    .nuevas-experiencias{
        img{
            text-align: right;
        }
    }

    .mas-de-nosotros {
        background-image: url(../img/saber-mas-fondo.png);
        background-repeat: repeat-x;
        .pa {
            position: relative;
        }
          
        .trio {
            height: 685px; 
            display: flex; /* Añadido para flexbox */
            flex-direction: column; /* Añadido para apilar verticalmente */
            justify-content: center; /* Añadido para centrar verticalmente */
        }

        h2 {
            
            position: absolute; 
            left: 50%;
            transform: translateX(-50%); 
            width: 100%;
        }

        img {
            position: absolute;
            mix-blend-mode: soft-light;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
      }

    .footer{
        background-color: #000;
    }

    .footer{
        p{

            font-size: 16px;
            font-style: normal;
            
            line-height: 40px; 
        }
        a{
            color: #FFF;
            text-decoration: none;
            font-weight: 500;
        }
        a:visited {
            color: #FFF;
        }
    }

    input.error {
        border-bottom: 2px solid #db0080 !important;
      }
      select.error {
        border-bottom: 2px solid #db0080 !important;
      }
      textarea.error {
        border-bottom: 2px solid #db0080 !important;
      }
      label.error {
        display: none !important;
      }
/**
formulario
*/
.form-control{
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
.btn-primary{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    gap: 10px;
    background: #000000;
    border-radius: 10px;
    border-color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
}

input.error {
    border-bottom: 2px solid #db0080 !important;
}
.alert {
    margin-bottom: unset;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.btn-primary:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    background: #EA0026;
    border-radius: 10px;
    border-color: #EA0026;
    color: #000000;
}
.btn-primary:active{
    background: #EA0026;
    border-radius: 10px;
    border-color: #EA0026;
    color: #000000;
}

.politica{
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    a{
        color: #FFF;
        text-decoration: none;
    }
    a:visited{
        color: #FFF;
        text-decoration: none;

    }
}


.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
}
.amarillo{
    background-color: yellow;
}

.white{
    background-color: #FFF;
}

/**
social media bar
*/
.social-media-bar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    background-color: #fff; /* Color de fondo */
    z-index: 100; /* Asegúrate de que esté por encima de otros elementos */
    padding: 20px 0;

    /* Rectangle 8755 */

/* Rectangle 8755 */

/*background: linear-gradient(to bottom, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);*/
background: linear-gradient(0deg, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);
/*box-shadow: 16px 0px 7px rgba(0, 0, 0, 0.02), 9px 0px 6px rgba(0, 0, 0, 0.08), 4px 0px 4px rgba(0, 0, 0, 0.14), 1px 0px 2px rgba(0, 0, 0, 0.16);*/
border-radius: 0px 15px 15px 0px;


}

.social-media-bar a {
    display: block;
    margin: 10px;
    text-align: center;
}
.social-media-bar a:hover{
    fill: #db0080;
}
.social-media-bar img {
    width: 30px;
    height: 30px;
}

/**
estilos mobile
*/
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size:unset;
    line-height: 1;
    color: #FFF;
    background-color: unset;
    border: 0px;
    border-radius: unset;
    transition:unset;
}

.redes-sociales{
    display: none;
}

.siguenos{
    display: none;
}

.nav-item{
    color: #FFF;
}

@media (max-width: 575.98px) { 
    

    .controles-slider{
        position: relative;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .productos{    
        background-image: url("../img/fondo-puntos.png"), 
        linear-gradient(to bottom, white, white); /* Color sólido en la parte inferior */
        background-size: 
            100% 45%, /* Ajusta la imagen al 50% del alto */
            100% 55%; /* El color sólido ocupa el otro 50% */
        background-position: 
            top, 
            bottom;
        background-repeat: no-repeat;

    }

    .m-fix{
        margin-top: -250px;
        margin-bottom: -300px;
    }
    h2{
        text-align: center;
        font-size: 30px;
    }

    h3{
        font-size: 16px;
    }

    

    .nav-item{
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 18px;
    }

    .redes-sociales{
        display: flex;
    }

    .siguenos{
        display: block;
        text-align: right;
        font-size: 12px;
    }

    .container, .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-brand {
        padding-left: 12px;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3e%3c/svg%3e");
    }

    .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-link:focus, .nav-link:hover {
        font-weight: bold;
    }

    .row{
        margin-left: 0px;
        margin-right: 0px;
    }

    .col{
        padding-left: 0px;
        padding-right: 0px;
    }

    .img-fluid{
        width: 100%;
    }

    .materiales{
        position: relative;
        background: linear-gradient(0deg, #EA0026 0%, #000000 55%);
        border-radius: 20px;
        
        p{
            font-size: 16px;
            padding: unset;
            margin-bottom: unset;
        }

        img{
            position: relative; 
            bottom: unset;
            right: unset;
            margin-top: unset;
        }
        
    }
    .footer{

        text-align: center;

        img{
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }

        p{
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .quienes-somos{

        p{
            text-align: center;
            font-size: 16px;
        }

        img{
            margin-top: -100px;
        }
    }

    .nuestra-mision{

        p{
            text-align: center;
            font-size: 16px;
        }
    }

    .quien-nos-respalda{

        p{
            font-size: 16px;
        }
    }

    .mas-de-nosotros{

        background-image:unset;

        .mas-de-nosotros-mobile{
            background-image: url(../img/saber-mas-fondo-mobile.png);
            background-position: cover;
            background-position: bottom;

            h4{
                position: relative;
                font-size: 30px;
            }

            img {
                display: none;
            }
        }

        .trio {
            height: 420px;
            justify-content: unset;
            margin-bottom: -1px;
        }

        .pa{
            position: unset;
        }

        h5{
            font-size: 18px;
            text-align: center;
        }

        .formulario{
            background-color:  #E80013;
            margin-top: -2px;
        }
        .col-12{
            padding-right: 0px;
            padding-left: 0px;
        }

    }

    .donde-encontrarnos{

        p{
            font-size: 16px!important;
            color: #000000;
        }
    }
}

/** >=576 */
@include media-breakpoint-up(sm) { 
    
    

    .navbar-toggler:focus {
        box-shadow: unset;
    }
/*
    .navbar-collapse{
        background: linear-gradient(180deg, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);
        box-shadow: 0px 206px 82px rgba(0, 0, 0, 0.01), 0px 116px 69px rgba(0, 0, 0, 0.05), 0px 51px 51px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1);
    }
*/
    .nav-item{
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 18px;
    }

    .redes-sociales{
        display: flex;
    }

    .siguenos{
        display: block;
        text-align: right;
        font-size: 12px;
    }

    .container, .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-brand {
        padding-left: 12px;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3e%3c/svg%3e");
    }

    .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-link:focus, .nav-link:hover {
        font-weight: bold;
    }
    .carousel-control-next-icon {
        background-image: url(../img/adelante.png);
    }

    .carousel-control-prev-icon {
        background-image: url(../img/atras.png);
    }

    .carousel-control-next, .carousel-control-prev {
        width: 50%;
    }

    .controles-slider{
        position: relative;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .productos{    
        background-image: url("../img/fondo-puntos.png"), 
        linear-gradient(to bottom, white, white); /* Color sólido en la parte inferior */
        background-size: 
            100% 45%, /* Ajusta la imagen al 50% del alto */
            100% 55%; /* El color sólido ocupa el otro 50% */
        background-position: 
            top, 
            bottom;
        background-repeat: no-repeat;

    }

    .m-fix{
        margin-top: -250px;
        margin-bottom: -300px;
    }

    h2{
        text-align: center;
        font-size: 30px;
    }

    h3{
        font-size: 16px;
    }

    



    .redes-sociales{
        display: flex;
    }

    .siguenos{
        display: block;
        text-align: right;
        font-size: 12px;
    }

    .container, .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 12px;
    }

    .navbar-toggler:focus {
        box-shadow: unset;
    }

    /*
    .navbar-collapse{
        background: linear-gradient(180deg, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);
        box-shadow: 0px 206px 82px rgba(0, 0, 0, 0.01), 0px 116px 69px rgba(0, 0, 0, 0.05), 0px 51px 51px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1);
    }
    */    

    .nav-item{
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 18px;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3e%3c/svg%3e");
    }

    .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-link:focus, .nav-link:hover {
        font-weight: bold;
    }

    .row{
        margin-left: 0px;
        margin-right: 0px;
    }

    .col{
        padding-left: 0px;
        padding-right: 0px;
    }

    .img-fluid{
        width: 100%;
    }

    .materiales{
        position: relative;
        background: linear-gradient(0deg, #EA0026 0%, #000000 55%);
        border-radius: 20px;
        
        p{
            font-size: 16px;
            padding: unset;
            margin-bottom: unset;
        }

        img{
            position: relative; 
            bottom: unset;
            right: unset;
            margin-top: unset;
        }
        
    }

    .footer{

        text-align: center;

        img{
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }

        p{
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .quienes-somos{

        p{
            text-align: center;
            font-size: 16px;
        }

        img{
            margin-top: -100px;
        }
    }

    .nuestra-mision{

        p{
            text-align: center;
            font-size: 16px;
        }
    }

    .quien-nos-respalda{

        p{
            font-size: 16px;
        }
    }

    .mas-de-nosotros{

        background-image:unset;

        .mas-de-nosotros-mobile{
            background-image: url(../img/saber-mas-fondo-mobile.png);
            background-position: cover;
            background-position: bottom;

            h4{
                position: relative;
                font-size: 30px;
            }

            img {
                display: none;
            }
        }

        .trio {
            height: 420px;
            justify-content: unset;
            margin-bottom: -1px;
        }

        .pa{
            position: unset;
        }

        h5{
            font-size: 18px;
            text-align: center;
        }

        .formulario{
            background-color:  #E80013;
            margin-top: -2px;
        }
        .col-12{
            padding-right: 0px;
            padding-left: 0px;
        }

    }

    .donde-encontrarnos{

        p{
            font-size: 16px!important;
            color: #000000;
        }
    }
}

/** >=768 */
@include media-breakpoint-up(md) {  

    

    .navbar-toggler:focus {
        box-shadow: unset;
    }

    /*
    .navbar-collapse{
        background: linear-gradient(180deg, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);
        box-shadow: 0px 206px 82px rgba(0, 0, 0, 0.01), 0px 116px 69px rgba(0, 0, 0, 0.05), 0px 51px 51px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1);
    }
    */

    .nav-item{
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 18px;
    }

    .redes-sociales{
        display: flex;
    }

    .siguenos{
        display: block;
        text-align: right;
        font-size: 12px;
    }

    .container, .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-brand {
        padding-left: 12px;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3e%3c/svg%3e");
    }

    .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-link:focus, .nav-link:hover {
        font-weight: bold;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  
    

    .navbar-toggler:focus {
        box-shadow: unset;
    }
/*
    .navbar-collapse{
        background: linear-gradient(180deg, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);
        box-shadow: 0px 206px 82px rgba(0, 0, 0, 0.01), 0px 116px 69px rgba(0, 0, 0, 0.05), 0px 51px 51px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1);
    }
*/
    .nav-item{
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 18px;
    }

    .redes-sociales{
        display: flex;
    }

    .siguenos{
        display: block;
        text-align: right;
        font-size: 12px;
    }

    .container, .container-fluid{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container, .container-sm {
        max-width: 100%;
    }
    .header-sm{
        padding-top: 56px;
    }
    .navbar-brand {
        padding-left: 12px;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3e%3c/svg%3e");
    }

    .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-link:focus, .nav-link:hover {
        font-weight: bold;
    }
    .carousel-control-next-icon {
        background-image: url(../img/adelante.png);
    }

    .carousel-control-prev-icon {
        background-image: url(../img/atras.png);
    }

    .carousel-control-next, .carousel-control-prev {
        width: 50%;
    }

    .controles-slider{
        position: relative;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .productos{    
        background-image: url("../img/fondo-puntos.png"), 
        linear-gradient(to bottom, white, white); /* Color sólido en la parte inferior */
        background-size: 
            100% 45%, /* Ajusta la imagen al 50% del alto */
            100% 55%; /* El color sólido ocupa el otro 50% */
        background-position: 
            top, 
            bottom;
        background-repeat: no-repeat;

    }

    .m-fix{
        margin-top: -250px;
        margin-bottom: -300px;
    }

    h2{
        text-align: center;
        font-size: 30px;
    }

    h3{
        font-size: 16px;
    }

    



    .redes-sociales{
        display: flex;
    }

    .siguenos{
        display: block;
        text-align: right;
        font-size: 12px;
    }

    .container, .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 12px;
    }

    .navbar-toggler:focus {
        box-shadow: unset;
    }

    /*
    .navbar-collapse{
        background: linear-gradient(180deg, rgba(234, 0, 38, 0.9) 0%, rgba(182, 112, 177, 0.9) 51.1%, rgba(0, 0, 0, 0.9) 100%);
        box-shadow: 0px 206px 82px rgba(0, 0, 0, 0.01), 0px 116px 69px rgba(0, 0, 0, 0.05), 0px 51px 51px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1);
    }
    */

    .nav-item{
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        font-size: 18px;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3e%3c/svg%3e");
    }

    .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-link:focus, .nav-link:hover {
        font-weight: bold;
    }

    .row{
        margin-left: 0px;
        margin-right: 0px;
    }

    .col{
        padding-left: 0px;
        padding-right: 0px;
    }

    .img-fluid{
        width: 100%;
    }

    .materiales{
        position: relative;
        background: linear-gradient(0deg, #EA0026 0%, #000000 55%);
        border-radius: 20px;
        
        p{
            font-size: 16px;
            padding: unset;
            margin-bottom: unset;
        }

        img{
            position: relative; 
            bottom: unset;
            right: unset;
            margin-top: unset;
        }
        
    }

    .footer{

        text-align: center;

        img{
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }

        p{
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .quienes-somos{

        p{
            text-align: center;
            font-size: 16px;
        }

        img{
            margin-top: -100px;
        }
    }

    .nuestra-mision{

        p{
            text-align: center;
            font-size: 16px;
        }
    }

    .quien-nos-respalda{

        p{
            font-size: 16px;
        }
    }

    .mas-de-nosotros{

        background-image:unset;

        .mas-de-nosotros-mobile{
            background-image: url(../img/saber-mas-fondo-mobile.png);
            background-position: cover;
            background-position: bottom;

            h4{
                position: relative;
                font-size: 30px;
            }

            img {
                display: none;
            }
        }

        .trio {
            height: 420px;
            justify-content: unset;
            margin-bottom: -1px;
        }

        .pa{
            position: unset;
        }

        h5{
            font-size: 18px;
            text-align: center;
        }

        .formulario{
            background-color:  #E80013;
            margin-top: -2px;
        }
        .col-12{
            padding-right: 0px;
            padding-left: 0px;
        }

    }

    .donde-encontrarnos{

        p{
            font-size: 16px!important;
            color: #000000;
        }
    }
    .carousel-inner .carousel-item > div {
        display: flex;
      }
      
      .carousel-inner .carousel-item > div > div {
        flex: 1;
      }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }