---
import Layout from '../layouts/Layout.astro';

import EyeCatcher from '../components/home/EyeCatcher.astro';
import Productos from '../components/home/Productos.astro';
import Materiales from '../components/home/Materiales.astro';
import DondeEncontrar from '../components/home/DondeEncontrar.astro';
import QuienesSomos from '../components/home/QuienesSomos.astro';
import Contacto from '../components/home/Contacto.astro';
import Blog from '../components/home/Blog.astro';
---

<Layout>
	<EyeCatcher />
	<div class="container-fluid">
		<Productos />
		<Materiales />
		<DondeEncontrar />
	</div>
	<QuienesSomos />
	<Contacto />
</Layout>
