---
import eyeCatcherMovil from "../../assets/img/banner-movil-20250519.webp";
import eyeCatcherDesktop from "../../assets/img/banner-20250515.webp";
---
<section>
    <img src={eyeCatcherMovil.src} class="img-fluid d-flex d-md-none w-100  pt-5" alt="banner imagen pareja besandose en tren" style="margin-top: 30px;" >
    <img src={eyeCatcherDesktop.src} class="img-fluid d-none d-md-flex" alt="banner imagen pareja besandose en tren" style="margin-top: 30px;" >
</section>